* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #141416;
    overflow-x: hidden;
}

.main {
    color: white;
}

#navbar {
    color: white;
    padding: 1% 1%;
    margin-bottom: 20%;
}

.navbar-container {
    margin: 2em;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px #EE7C53;
    border-radius: 40px;

}

.navbar-links a {
    text-decoration: none;
    color: white;
    text-wrap-mode: nowrap;
}
.left{
    flex: 40%;  

}
.left img {
    width: 25%;
}


.right {
    flex: 60%;
    position: relative;
    align-items: center;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.navbar-links li {
    margin: 0px 0px 0px 20px;
    padding: 10px;
    font-size: 20px;
}

.navbar-links li:hover {
    background-color: #533f4d;
    border-radius: 5px;
    box-shadow: 0 0px 10px #EE7C53;
    cursor: pointer;
}

.Heading {
    height: 20%;
    font-size: 40px;
    text-align: center;
    padding: 35px;
    align-content: center;
    /* padding-bottom: 50px; */
    animation: color 3s ease-in-out infinite;
    background: -webkit-linear-gradient(#ffffff, #141416);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#about_us {
    padding: 35px;
}

#about_us p {
    padding-top: 10px;
    text-align: justify;
    margin-bottom: 10px;
}

.content {
    border: 5px solid #533f4d;
    width: 95%;
    margin: 2.5%;
    border-radius: 40px;
    background-image: linear-gradient(#141416, #533f4d);
}

#overview,
#how_it_works,
#features,
#impact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 35px;
}

@media screen and (max-width:600px) {

    #overview,
    #how_it_works,
    #features,
    #impact {
        padding: 15px;
    }
}

#overview .photo,
#features .photo {
    border: 2px solid white;
    border-radius: 50% 0% 50% 0%;
    height: 250px;
    width: 250px;
    margin: auto;
    margin-top: 10px;
}

#overview .photo img,
#features .photo img {
    /* object-fit: contain; */
    height: 250px;
    width: 250px;
    border-radius: 50% 0% 50% 0%;
}

#how_it_works .photo img,
#impact .photo img {
    border-radius: 0% 50% 0% 50%;
    height: 250px;
    width: 250px;
}

#how_it_works .photo,
#impact .photo {
    grid-column: 1/2;
    grid-row: 1/2;
    border: 2px solid white;
    border-radius: 0% 50% 0% 50%;
    height: 250px;
    width: 250px;
    margin: auto;
    margin-top: 10px;
}

#overview .details p,
#how_it_works .details p,
#features .details p,
#impact .details p {
    padding-top: 10px;
    text-align: justify;
}

#how_it_works .details,
#impact .details {
    grid-column: 2/3;
    grid-row: 1/2;
    align-content: center;
}

@media screen and (max-width:600px) {

    #how_it_works .photo,
    #impact .photo {
        grid-column: 1/2;
        grid-row: 2/3;
        margin: auto;
        margin: 10px;
    }

    #how_it_works .details,
    #impact .details {
        grid-column: 1/2;
        grid-row: 1/2;
    }
}
@media screen and (max-width:600px) {
    #overview .photo ,
    #how_it_works .photo ,
    #features .photo ,
    #impact .photo  {
        width: 150px;  /* Adjust the size for smaller screens */
        height: 150px;
        margin: auto;
        margin-top: 20px;
    }
}
@media screen and (max-width:600px) {
    #overview .photo img,
    #how_it_works .photo img,
    #features .photo img,
    #impact .photo img {
        width: 150px;  /* Adjust the size for smaller screens */
        height: 150px;
    }
    #contactForm{
        margin-top: 30px;
    }
}


#overview .details h2,
#how_it_works .details h2,
#features .details h2,
#impact .details h2,
#about_us .details h2 {
    text-align: center;
}

#contactForm h1 {
    text-align: center;
}

#contactForm #form {
    border: 1px solid white;
    width: 85%;
    margin: 2% 4.5% 2% 4.5%;
    border-radius: 10px;
    text-align: justify;
    padding: 3%;
    background-image: linear-gradient(#533f4d, #141416);
}

#contactForm #form label {
    display: block;
    font-size: 17px;
    margin-bottom: 5px;
}

#contactForm #form input,
#contactForm #form textarea {
    display: block;
    width: 100%;
    margin-top: 0.5%;
    margin-bottom: 2%;
    padding: 1%;
    background-image: linear-gradient(#533f4d, #141416);
    border: 0.5px solid white;
    border-radius: 5px;
    color: white;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-image: linear-gradient(#533f4d, #141416) !important; /* Gradient background */
    -webkit-background-clip: text; /* Ensures compatibility for gradient */
    -webkit-text-fill-color: transparent !important; /*  Makes gradient consistent*/ 
}

#contactForm #form button {
    display: block;
    justify-content: center;
    width: 102%;
    margin-top: 0.5%;
    margin-bottom: 2%;
    padding: 0.5%;
    background-color: #EE7C53;
    border: 2px solid #a3482fc7;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

#contactForm #form button:hover {
    cursor: pointer;
    background-color: #A3492F;
    border: 1px solid #EE7C53;
    border-radius: 5px;
}

#responseMessage {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #28a745;
}


@keyframes color {
    0% {
        background: -webkit-linear-gradient(#ffffff, #141416);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    10% {
        background: -webkit-linear-gradient(#f2f2f2, #1e1e1e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    20% {
        background: -webkit-linear-gradient(#e6e6e6, #2d2d2d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    30% {
        background: -webkit-linear-gradient(#d9d9d9, #3c3c3c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    40% {
        background: -webkit-linear-gradient(#cccccc, #4b4b4b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    50% {
        background: -webkit-linear-gradient(#bfbfbf, #5a5a5a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    60% {
        background: -webkit-linear-gradient(#b3b3b3, #696969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    70% {
        background: -webkit-linear-gradient(#a6a6a6, #787878);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    80% {
        background: -webkit-linear-gradient(#999999, #878787);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    90% {
        background: -webkit-linear-gradient(#8c8c8c, #969696);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    100% {
        background: -webkit-linear-gradient(#ffffff, #141416);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}