* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #141416;
    overflow-x: hidden;
}

.main {
    color: white;
}

#navbar {
    color: white;
    padding: 10px 20px;
    height: 100px;
}

.navbar-container {
    height: 100px;
}

.navbar-links a {
    text-decoration: none;
    color: white;
}

.left,
.right {
    display: flex;
}

.left img {
    width: 100px;
}

.right {
    position: relative;
    left: 600px;
    top: -100px;
    align-items: center;
    height: 100px;
}

.navbar-links {
    list-style-type: none;
    display: flex;
}

.navbar-links li {
    margin: 0px 0px 0px 10px;
    padding: 7px;
    font-size: 20px;
}

.navbar-links li:hover {
    background-color: #533f4d;
    border-radius: 5px;
    cursor: pointer;
}

.Heading {
    height: 90px;
    font-size: 40px;
    text-align: center;
    align-content: center;
    /* padding-bottom: 50px; */
    background: -webkit-radial-gradient(#ffff, #141416);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

#about_us {
    padding: 35px;
}

#about_us p {
    padding-top: 10px;
    text-align: justify;
}

.content {
    border: 5px solid #533f4d;
    width: 95%;
    margin: 2.5%;
    border-radius: 40px;
    background-image: linear-gradient(#141416,#533f4d);
}

#overview,
#how_it_works,
#features,
#impact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 35px;
}

#overview .photo,
#how_it_works .photo,
#features .photo,
#impact .photo {
    border: 2px solid white;
    margin-left: 10%;
    border-radius: 50% 0% 50% 0%;
    height: 250px;
    width: 250px;
    margin-left: 35%;
}

#overview .details p,
#how_it_works .details p,
#features .details p,
#impact .details p {
    padding-top: 10px;
    text-align: justify;
}

#overview .details h2,
#how_it_works .details h2,
#features .details h2,
#impact .details h2,
#about_us .details h2 {
    text-align: center;
}
#contactForm  h1{
    text-align: center;
}
#contactForm #form{
    border: 1px solid white;
    width: 85%;
    margin: 2% 4.5% 2% 4.5%;
    border-radius: 10px;
    text-align: justify;
    padding: 3%;
    background-image: linear-gradient(#533f4d,#141416);
}
#contactForm #form label
{
    display: block;
    font-size: 17px;
}
#contactForm #form input,#contactForm #form textarea{
    display: block;
    width: 100%;
    margin-top: 0.5%;
    margin-bottom: 2%;
    padding: 1%;
    background-image: linear-gradient(#533f4d,#141416);
    border: 0.5px solid white;
    border-radius: 5px;
    color: white;
}
#contactForm #form button{
    display: block;
    justify-content: center;
    width: 102%;
    margin-top: 0.5%;
    margin-bottom: 2%;
    padding: 0.5%;
    background-color: #EE7C53;
    border: 1px solid #A3492F;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}
#contactForm #form button:hover{
    cursor: pointer;
    background-color: #A3492F;
    border: 1px solid #EE7C53;
    border-radius: 5px;
}
#responseMessage {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #28a745;
}
input:is(:-webkit-autofill, :autofill) {
    display: block;
    width: 102%;
    margin-top: 0.5%;
    margin-bottom: 2%;
    padding: 1%;
    background-image: linear-gradient(#533f4d,#141416);
    border: 0.5px solid white;
    border-radius: 5px;
    color: white;
  }